<h2>Скачать новое видео</h2>

<% if !params.valid? %>
<div class="alert alert-primary">
Ошибка
<ul>
<% params.error_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>

<%=
  form_for :video, routes.videos_path, class: 'my-5' do
    div class: 'form-group' do
      label :url
      text_field :url, class: 'form-control'
    end

    div class: 'form-group' do
      label :location_id
      select :location_id, locations, class: 'form-control'
    end

    div class: 'controls' do
      submit 'Скачать', class: 'btn'
    end
  end
%>